:root {
    --main-blue: #0288D1;
    --second-blue: #82B1FF;
    --light-gray: #EEEEEE;
    --dark-gray: #757575;
}

/*классы и идентификаторы*/
.loadingDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: black;   
    opacity: 0.7;
    z-index: 9999;
    visibility: hidden;
}

.loadingTop {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    margin-top: 40vh;
    text-align: center;
    font-size: 22pt;
    color: var(--second-blue);
}
.loadingBottom {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 16pt;
    color: white;
}

h3 {
    text-align-last: center;
    color: var(--main-blue);
    font-size: 16pt;
    margin: 0px;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 0px;
}

input {
    margin-bottom: 10px;
    border: 1px solid var(--main-blue);
}

a {
    color: white;
    margin-left: 12px;
}

a:hover {
    color: var(--second-blue);
}

.subButton {
    border: 2px solid var(--main-blue);
    background: white;
    color: var(--main-blue);
}

body {
    width: 100%;
    margin: 0; /* Убираем отступы */
    background-color: white;
    font-family: Calibri Light, Calibri, Arial, sans-serif;
    font-size: 12pt;
    text-align: left;
}

.header_div {
    display: flex;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: central;
    color: white;
    background-color: black;
}

.label_div {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    color: var(--second-blue);
}

.links_div {
    margin: auto;
    float: right;
    width: 50%;
    text-align: right;
    display: inline-block;
}

.left_div {
    width: 20%;
    height: calc(100vh - (25px + 3px));
    float: left;
    text-align: left;
    color: white;
    display: table;
    background-color: var(--dark-gray);
}

.instructions_div {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
    display: table-cell;
    vertical-align: middle;
}

.right_div {
    width: 80%;
    /*width: calc(80% - 1px);*/
    /*border-left: 1px solid var(--main-blue);*/
    float: left;
    overflow-y: auto;
    padding-top: 10px;
}

.line_div {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: calc(100% - 20px);
}

.tableOfResults {
    overflow-y: scroll;
    height: 320px;
    background-color: var(--light-gray);
}

/* переносить текст внутри кнопок
           .wrap_btn { 
            white-space: normal; 
            width: 50%; 
        }


    градиенты
    background: linear-gradient(to bottom, #00B0FF, #0D47A1);
    background: radial-gradient(var(--dark-gray), white);
*/